@{
    ViewData["Title"] = "Privacy Policy";
}

<div>
    <h1> BİZ KİMİZ NAPIYORUZ ???</h1>
    <br /><br />
    <img style="width:100%" src="https://usercontent.one/wp/www.hereweareglobal.com/wp-content/uploads/elementor/thumbs/BANNER-HERE-WE-ARE-ITALY-oqpnsqmwo38df0gqtnway3d2yjvncfkhimotw0ghbs.png" alt="Trulli">

    <br /><br />
    <p>     Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cit</p>
    <p>     Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage</p>
</div>
<br /><br /><br />
<div class="col-md-12" style="border">
    <div class="row">
<div class="col-md-4 text-center">

    <h2 style="font-size: 35px"> İLETİŞİM BİLGİLERİ</h2>

    <p style="font-size: 25px" >PHONE NUMBER</p>

    <p style="font-size: 18px"> +90 545 717 3414</p>

    <p style="font-size: 25px">MAIL ADRESS</p>
    <p style="font-size: 18px">hasanyilmaz344@gmail.com</p>

     <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbUmzjITW3rB50GnAA63L58RBDTnxh__u8pA&usqp=CAU"/>
    </div>
<div class="col-md-8">
        <p>     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1505.7160596155538!2d29.023813600189765!3d40.99391426836304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab869a4d70a39%3A0x2076221b3cb2d965!2zWmFycGzEsSDEsMWfIE1lcmtlemk!5e0!3m2!1str!2str!4v1660904401397!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
 </p>
    </div>
            </div>
</div>
<br /><br /><br /><br />
<div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Quick Example</h3>
              </div>
              <form>
                <div class="card-body">
                  
                    <div class="form-group">
                    <label for="exampleInputEmail1">ADINIZ</label>
                    <input type="text" class="form-control" id="qqq" placeholder="adınız">
                  </div>

                  <div class="form-group">
                    <label for="exampleInputEmail1">SOYADINIZ</label>
                    <input type="text" class="form-control" id="qqq" placeholder="soyadınız">
                  </div>

                  <div class="form-group">
                    <label for="exampleInputEmail1">MAIL ADRESINIZ</label>
                    <input type="text" class="form-control" id="qqq" placeholder="mail adresiniz">
                  </div>

                  <div class="form-group">
                    <label for="exampleInputEmail1">ILETISIM NUMARANIZ</label>
                    <input type="text" class="form-control" id="qqq" placeholder="iletişim numaranız">
                  </div>

                  <div class="form-group">
                    <label for="exampleInputEmail1">ISTEK&GORUS VEYA SIKAYETINIZ</label>
                    <input type="text" class="form-control" row="12" id="qqq" placeholder="istek ve görüşlerinizi bizimle paylaşmanızdan çok memnun oluruz. Umarız ki şikayetiniz yoktur :)">
                  </div>

                  <div class="form-group">
                    <label for="exampleInputFile">Eklemek İstediğiz Dosya Varsa Ekleyebilirsiniz</label>
                    <div class="input-group">
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="exampleInputFile">
                        <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                      </div>
                      <div class="input-group-append">
                      </div>
                    </div>
                  </div>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Bilgilerimi Sisteme Kaydet</label>
                  </div>
                </div>

                <div class="card-footer">
                  <button class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>